html {
	font-size: 62.5%;
}

html,
body {
	padding: 0;
	margin: 0;
	font-family: "Poppins", sans-serif;
	background-color: hsl(0, 0%, 11%);
	color: rgb(206, 206, 206);
	width: 100%;
	height: 100%;
}

a {
	color: inherit;
	text-decoration: none;
}

* {
	box-sizing: border-box;
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
}

#__next {
	width: inherit;
	height: inherit;
	display: flex;
	justify-content: center;
	align-items: center;
}

.content_wrapper {
	height: 100%;
	width: 100%;
	max-width: 115rem;
	padding: 2rem;
	display: flex;
	justify-content: center;
	align-items: center;
	display: grid;
	grid-template-rows: auto 1fr auto;
}

header {
	display: flex;
	justify-content: center;
	align-items: center;
	border-bottom: 1px solid rgb(206, 206, 206);
}

h1 {
	font-size: 3rem;
}

h2 {
	font-size: 6rem;
	font-family: "Libre Barcode 39 Text", cursive;
	margin: 0;
	padding: 3rem 0;
}

main {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr;
	justify-content: center;
	align-items: center;
	column-gap: 2rem;
}
.movie_cover {
	height: auto;
	max-width: 32rem;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

footer {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.table {
	width: 100%;
	text-align: left;
	margin: 2rem 0;
}

.table th {
	font-size: 1.2rem;
	padding: 1rem;
}

.table,
.table td {
	border: 0.5px solid #121212;
}

.table td {
	padding: 1rem;
	border: 0.5px solid #121212;
}

.table td[role="cell"]:first-child {
	color: rgb(144, 252, 2);
	width: 10px;
}

.review-form {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	width: 100%;
	padding-top: 2rem;
}

.review-form label {
	width: 100%;
}

.review-form label input,
.review-form label textarea {
	width: 100%;
}

.label-group {
	display: grid;
	grid-template-columns: 5rem 1fr;
	grid-template-rows: 5rem;
	justify-content: start;
	align-items: start;
	width: 100%;
	column-gap: 1rem;
}

.label-group label,
.label-group label input {
	width: 100%;
	height: 100%;
}

.submit-review-btn {
	width: 100%;
	padding: 1rem 0;
}

label p {
	margin: 0;
}

input[type="number"],
textarea {
	border: 0;
	border: 1px solid black;
	background-color: #101010;
	color: rgb(144, 252, 2);
	text-align: center;
	border-radius: 5px;
	-o-border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
}

textarea {
	text-align: left;
	padding: 10px;
	color: rgb(206, 206, 206);
	height: 100%;
}

.submit-review-btn {
	margin-top: 25px;
	border-radius: 10px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
	background-color: #101010;
	border-width: 0.5px;
	color: rgb(206, 206, 206);
	box-shadow: 0 5px 5px -2px #101010;
	cursor: pointer;
}
